@model PokeSizeViewModel

@{
    ViewData["Title"] = "Pokemon THICCness";
}
<h1>@ViewData["Title"]</h1>

<p>where all the thiccies at</p>

<form method="post">
    <div class="form-group mb-3">
        <input type="text" class="form-control" name="pokemon1" placeholder="Pokemon 1">
    </div>
    <button type="submit" class="btn btn-primary">Get This Pokemon's Height</button>
</form>

@if (Model != null)
{
    <h2>@Model.PokemonName's Height Is: @(Model.PokemonHeight)m</h2>
    <img src="@Model.PokemonSpriteUrl" alt="pokemon sprite" height="@(Model.PokemonHeight * 10 + 25)"/>
}